<?xml version="1.0"?>
<configuration>
  <appSettings>
    <remove key="ConnectionString"/>
    <add key="ConnectionString" value="server=140.206.70.162;database=weiDong;uid=sa;pwd=shszjsb@2012"/>
    <add key="VirturlPath" value="http://140.206.70.162:8092"/>
    <add key="websitetitle" value="卫东充电桩"/>
    <add key="websitekeywords" value=""/>
    <add key="websitedescription" value=""/>
    <!--互亿无线短信平台参数-->
    <add key="account" value="cf_yuersoft"/>
    <add key="password" value="yuersoft"/>
    <!--ping++参数-->
    <!--<add key="apiKey" value="sk_test_T0azbT5OWbzLSevrfTeHG4qP"/>
    <add key="appId" value="app_5q5mHSunXv90vTef"/>
    <add key="gyPath" value="D:\workspace\key.pem"/>-->
    <!--个推参数-->
    <!--<add key="gtappid" value="HozgQsqPMR65qsHPxPnRH1"/>
    <add key="gtappkey" value="AofVLnRJpA6QMUkywDBHZ8"/>
    <add key="mastersecret" value="ZEpOdaNOAU72toJXkJzR"/>-->

    <!--微信支付参数-->
    <add key="wxappid" value="wxfead3fc9a96624a5" />
    <!--开放平台注册的appID-->
    <add key="wxmchid" value="1489210632" />
    <!--微信支付分配的商户号-->
    <add key="wxmchkey" value="quanbangkeji20161102quanbangkeji" />
    <!--商户key， 32位，在微信商户平台配置-->
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <!--验证,上传配置,超时时间 (以服务器软件配置为准)-->
    <httpRuntime requestValidationMode="2.0" maxRequestLength="1048576" executionTimeout="3600"/>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Windows"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"  enableEventValidation="false"/>
  </system.web>



  <system.webServer>
    <defaultDocument>
      <files>
        <remove value="Default.aspx"/>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
    <staticContent>
      <remove fileExtension=".woff"/>
      <remove fileExtension=".svg"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
    </staticContent>
  </system.webServer>



</configuration>